.figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;

    img {
        width: 100%;
        height: 100%;
    }

    &.flipped img {
        transform: rotate(180deg);
    }
    
    &.isAnimated img {
        animation: transfer_figure_img .5s;
    }
    
    &.isAnimated.flipped img {
        animation: transfer_figure_img_flipped .5s;
    }
}

.isAnimated {
    animation: transfer_figure .5s;
}

@keyframes transfer_figure {
    from {
        transform: translate(var(--figure-transfer-translate-x), var(--figure-transfer-translate-y));
    } to {
        transform: translate(0, 0);
    }
}

@keyframes transfer_figure_img {
    from {
        transform: translate(var(--figure-transfer-translate-x), var(--figure-transfer-translate-y));
    } to {
        transform: translate(0, 0);
    }
}

@keyframes transfer_figure_img_flipped {
    from {
        transform: rotate(180deg) translate(var(--figure-transfer-translate-x), var(--figure-transfer-translate-y));
    } to {
        transform: rotate(180deg) translate(0, 0);
    }
}