.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;
    overflow: hidden;

    border: 2px solid var(--board-border-color);

    // Сделать адаптивной ширину
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;

    &.flipped {
        transform: rotate(180deg);
    }
}
